$textColour: #ffffff;

$accent: #7373ff;
$accentHover: #afafff;

$backgroundGray: rgba(58, 58, 58, 0.4);

$textboxGray: rgba(17, 17, 17, 0.4);
$textboxGrayHover: rgba(75, 75, 75, 0.4);

$backgroundPurple: #4f024d;
$backgroundOrange: #844419;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

/*-------------------RESET-------------------*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font: inherit;
    background: none;
    border: none;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

/*-------------------RESET-------------------*/

@media screen and (max-width: 800px) {
    :root {
        font-size: 11px;
    }
}

@media screen and (max-width: 500px) {
    :root {
        font-size: 8px;
    }
    .infoSubContainer {
        width: 60vw;
        height: 60vw;
    }
}

body {
    display: inline-block;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(243.18deg, $backgroundOrange 40%, $backgroundPurple 100%);

    font-family: 'Open Sans', sans-serif;
    color: $textColour;
}

.mainContainer {
    display: inline-block;
    width: 60%;
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
}

h1 {
    font-size: 1.25rem;
    font-weight: 600;
}

.button {
    background-color: $accent;
    color: $textColour;
    width: max-content;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0.5rem;
    border-radius: 0.75rem;
    font-weight: 800;

    transition: background-color 0.2s;

    &:hover {
        background-color: $accentHover;
    }
}

.infoContainer {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    .infoSubContainer {
        background: $backgroundGray;
        border-radius: clamp(0.5rem, 1.5rem, 3rem);
        width: max-content;
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 1rem;
        padding: 1rem;
        h2 {
            font-size: 4rem;
            font-weight: 700;
        }
        h1 {
            font-weight: 400;
        }
    }
}
