@import './globals.scss';

.infoContainer {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    .infoSubContainer {
        background: $backgroundGray;
        border-radius: clamp(0.5rem, 1.5rem, 3rem);
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 1rem;
        padding: 1rem;
        h2 {
            font-size: 4rem;
            font-weight: 700;
        }
        h1 {
            font-weight: 400;
        }
    }
}
