@import './globals.scss';

.messagePageSignOut {
    margin-left: 2.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.messageScroller {
    overflow-y: scroll;
    height: 80%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.contentBox {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 1rem;
    height: fit-content;
    margin-top: 2rem;
    background: $backgroundGray;
    border-radius: clamp(0.5rem, 1.5rem, 3rem);
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
}

.typeBox {
    position: absolute;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 1rem;
    height: fit-content;
    margin-top: 2rem;
    background: $backgroundGray;
    border-top-left-radius: clamp(0.5rem, 1.5rem, 3rem);
    border-top-right-radius: clamp(0.5rem, 1.5rem, 3rem);
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
    bottom: 0px;
}

.profilePicture {
    padding: 2.5rem;
    width: 0px;
    height: 0px;
    border-radius: clamp(0.25rem, 1rem, 3rem);
    background-color: white;
}
