@import './globals.scss';

.messagePageSignOut {
    margin-left: 2.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.messageScroller {
    overflow-y: scroll;
    height: 80%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.contentBox {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 1rem;
    height: max-content;
    margin-top: 2rem;
    background: $backgroundGray;
    border-radius: 2.5vmin;
    display: inline-flex;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
    div {
        min-width: 1px;

        p {
            width: 100%;
            word-wrap: break-word;
        }

        &.contentWrapper {
            width: calc(100% - 7rem);
        }
    }
}

.typeBox {
    position: absolute;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 1rem;
    height: max-content;
    margin-top: 2rem;
    background: $backgroundGray;
    border-top-left-radius: 2.5vmin;
    border-top-right-radius: 2.5vmin;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
    bottom: 0px;
}

.profilePicture {
    padding: 2.5rem;
    width: 0px;
    height: 0px;
    border-radius: 2vmin;
    background-color: white;
}

.messageHeader {
    display: flex;
    flex-direction: row;
    width: 100%;

    h1 {
        font-weight: 700;
    }

    div {
        flex-grow: 1;
    }

    .messageIdDisplay {
        color: rgba($color: #ffffff, $alpha: 0.2);
        width: min-content;
    }
}

.scrollTo {
    height: 0rem;
    margin-top: 10rem;
}
